* {
    box-sizing: border-box;
}


.header {
    border: 1px solid red;
}
.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav-item {
    list-style: none;
}
.nav-link {
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
}
.main {
    border: 1px solid green;
}

.footer {
    border: 1px solid yellow;
}