* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(172, 145, 109, 0.5);
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'LibreBaskerville-Regular', serif;
    src: url("assets/fonts/LibreBaskerville/LibreBaskerville-Regular.ttf");
    font-weight: 100;
  }

@font-face {
    font-family: 'LibreBaskerville-Bold', serif;
    src: url("assets/fonts/LibreBaskerville/LibreBaskerville-Bold.ttf");
    font-weight: 400;
  }

 @font-face {
    font-family: 'LibreBaskerville-Italic', serif;
    src: url("assets/fonts/LibreBaskerville/LibreBaskerville-Italic.ttf");
    font-weight: 200;
  }

.header {
    background-color:  rgba(0, 0, 0, 0.432);
}



.container {
    max-width: 1440px;
    margin: 0 auto;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-item {
    list-style: none;

}

.nav-item a {
    color: #000;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-item a:hover {
    color: red;
}

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    transition: .3s;
}

.footer {
background-color: rgba(0, 0, 0, 0.432);
}